@media screen and (min-width: 380px) {
    .facts__item {
        padding: 8px 8px;
    }

    .facts__item p:first-child {
        min-width: 150px;
        width: 150px;
    }

    .facts__item p:first-child img {
        display: block;
    }
}

@media screen and (min-width: 420px) {
    .title {
        line-height: 40px;
    }

    .title__wrap {
        gap: 16px;
    }

    .title__wrap img {
        width: auto;
    }

    .prime__title-wrap img {
        width: 80px;
    }

    .prime__subtitle {
        line-height: 48px;
    }
}

@media screen and (min-width: 450px) {
    .content {
        width: calc(100% - 32px - 32px);
    }

}

@media screen and (min-width: 480px) {
    .welcome__bonus-subtitle {
        font-size: 24px;
        line-height: 32px;
    }

    .welcome__bonus-title {
        font-size: 32px;
        line-height: 40px;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: var(--desktop-font-size);
    }

    .cover {
        padding-left: calc(50% - ((768px - 32px - 32px) / 2));
        padding-right: calc(50% - ((768px - 32px - 32px) / 2));
    }

    .title.general {
        font-size: 48px;
    }

    /* header */
    .header {
        padding: 16px 32px;
    }

    .header__language {
        display: block;
        margin-right: 24px;
        margin-left: auto;
        cursor: pointer;
    }

    .header__auth {
        margin: 0 auto;
        display: flex;
        gap: 8px;
    }

    /* prime */
    .prime {
        padding: 124px 32px 0 32px;
    }

    .prime__image {
        /* position: relative; */
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .prime__image img:first-of-type {
        display: none;
    }

    .prime__content {
        position: absolute;
        top: 50%;
        left: 32px;
        transform: translate(0%, -50%);

    }

    .prime__title-wrap img {
        width: auto;
    }

    .prime__title {
        line-height: 48px;
    }

    /* app-prime */
    .app-prime {
        padding-left: 32px;
        padding-right: 32px;
    }

    .app-prime__image div {
        display: block;
    }

    /* bonus-prime */
    .bonus-prime {
        padding-left: 0;
        padding-right: 0;
    }

    .bonus-prime__image img:last-child {
        display: block;
    }

    /* welcome__cover */

    .welcome__image {
        justify-content: space-between;
    }

    .welcome__image img:first-child {
        display: block;
    }

    /* facts */
    .facts__item {
        padding: 8px 16px;
        gap: 32px;
    }

    .facts__item p:first-child {
        min-width: 200px;
    }
}

@media screen and (min-width: 850px) {

    /* app-welcome */
    .app-welcome__cover {
        height: auto;
        padding: 0;
        background-color: transparent;
        overflow: hidden;
        position: relative;
    }

    .app__logo {
        top: 50%;
        left: 50%;
        right: auto;
        transform: translate(-50%, -50%);
    }

    .app-welcome__image {
        display: flex;
        justify-content: flex-end;
        position: relative;
    }

}

@media screen and (min-width: 1100px) {

    /* prime */
    .prime {
        padding: 0;
    }

    .prime__image {
        justify-content: space-between;
    }

    .prime__image img:first-of-type {
        display: block;
    }

    .prime__content {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .prime__title {
        line-height: 64px;
    }

    /* facts */
    .facts__item p:first-child {
        min-width: 247px;
    }

    /* app-welcome */
    .app-welcome__image {
        padding-right: 158px;
    }

    .app__list {
        left: 105px;
    }

    /* welcome__bonus */
    .welcome__bonus-wrap {
        right: 7%;
    }

}

@media screen and (min-width: 1240px) {
    .cover {
        padding-left: calc(50% - ((1304px - 32px - 32px) / 2));
        padding-right: calc(50% - ((1304px - 32px - 32px) / 2));
    }

    /* header */
    .header__menu {
        display: block;
        margin-left: 0;
        margin-right: auto;
    }

    .header__menu-open {
        display: none;
    }

    .header__auth {
        margin-right: 24px;

    }

    .header__language {
        margin: 0;
    }

    /* welcome__bonus */
    .welcome__bonus-wrap {
        right: 15%;
        z-index: 1;
    }

    .welcome__bonus-list li:nth-child(3) .welcome__bonus-wrap {
        right: 19%;
    }

    .welcome__bonus-list li:last-of-type .welcome__bonus-wrap {
        right: 17%;
    }

}