@media screen and (max-width: 1240px) {
    .cover {
        padding-left: calc(50% - ((768px - 32px - 32px) / 2));
        padding-right: calc(50% - ((768px - 32px - 32px) / 2));
    }

    /* header */
    .header__menu {
        display: none;
    }

    .header__menu-open {
        display: block;
    }

    .header__auth {
        margin: 0 auto;
    }

    .header__language {
        margin-right: 24px;
        margin-left: auto;
    }

    /* prime */
    .prime {
        padding: 0px 32px 0 32px;
    }

    .prime__image img:first-of-type {
        display: block;
    }

    /* bonus-prime */
    .bonus-prime {
        padding-left: 0;
        padding-right: 0;
    }

    /* app-prime */
    .app-prime {
        padding-left: 32px;
        padding-right: 32px;
    }

    /* welcome__bonus */
    .welcome__bonus-wrap {
        right: 7%;
        z-index: 0;
    }

    .welcome__bonus-list li:nth-child(3) .welcome__bonus-wrap {
        right: 7%;
    }

    .welcome__bonus-list li:last-of-type .welcome__bonus-wrap {
        right: 7%;
    }
}

@media screen and (max-width: 1100px) {

    /* facts */
    .facts__item div:first-child {
        min-width: 200px;
    }

    /* app-welcome */
    .app-welcome__image {
        padding-right: 0;
    }

    .app__list {
        left: 20px;
    }

    /* prime */
    .prime {
        padding: 124px 32px 0 32px;
    }

    .prime__image {
        justify-content: flex-end;
    }

    .prime__image img:first-of-type {
        display: none;
    }

    .prime__content {
        left: 32px;
        transform: translate(0%, -50%);
    }

    .prime__title {
        line-height: 48px;
    }

    /* welcome__bonus */
    .welcome__bonus-wrap {
        right: 2%;
    }

    .welcome__bonus-list li:nth-child(3) .welcome__bonus-wrap {
        right: 2%;
    }

    .welcome__bonus-list li:last-of-type .welcome__bonus-wrap {
        right: 2%;
    }
}

@media screen and (max-width: 850px) {

    /* app-welcome */
    .app-welcome__cover {
        min-height: 200px;
    }

    .app__logo {
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
    }

    .app-welcome__image {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: var(--mobile-font-size);
    }

    /* general */
    .cover {
        padding-left: calc(50% - ((480px - 15px - 15px) / 2));
        padding-right: calc(50% - ((480px - 15px - 15px) / 2));
    }

    .title.general {
        font-size: 34px;
    }

    /* header */
    .header {
        padding: 16px;
    }

    .header__language {
        display: none;
    }

    .header__auth {
        display: none;
    }

    /* prime */
    .prime {
        padding: 68px 32px 68px 32px;
    }

    .prime__image {
        display: none;
    }

    .prime__title-wrap img {
        width: 80px;
    }

    .prime__content {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    /* bonus-prime */
    .bonus-prime__image img:last-child {
        display: none;
    }

    /* app-prime */
    .app-prime__image div {
        display: none;
    }

    /* welcome__cover */
    .welcome__image {
        justify-content: flex-end;
    }

    .welcome__image img:first-child {
        display: none;
    }

    /* facts */
    .facts__item {
        padding: 8px 8px;
    }

    .facts__item div:first-child {
        min-width: 150px;
        width: 150px;
    }
}

@media screen and (max-width: 480px) {

    /* welcome__bonus */
    .welcome__bonus-subtitle {
        font-size: 18px;
        line-height: 24px;
    }

    .welcome__bonus-title {
        font-size: 24px;
        line-height: 32px;
    }
}

@media screen and (max-width: 450px) {

    /* general */
    .content {
        width: 100%;
    }
}

@media screen and (max-width: 420px) {

    /* general */
    .title {
        line-height: 36px;
    }

    .title-wrap {
        gap: 0;
    }

    .title-wrap img {
        width: 50px;
    }

    /* prime */
    .prime__title-wrap img {
        width: 60px;
    }

    .prime__subtitle {
        line-height: 36px;
    }
}

@media screen and (max-width: 380px) {

    /* facts */
    .facts__item {
        padding: 8px 0;
        gap: 8px;
    }

    .facts__item div:first-child {
        min-width: 100px;
        width: 100px;
    }

    .facts__item div:first-child img {
        display: none;
    }
}